apiVersion: apps/v1
kind: Deployment
metadata:
  name: orderservice
  labels:
    app: orderservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orderservice
  template:
    metadata:
      labels:
        app: orderservice
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: "orderservice"
        dapr.io/app-port: "8080"          # Dapr will wait for your app on this port
        dapr.io/log-level: "info"
    spec:
      serviceAccountName: order-dapr-irsa
      containers:
        - name: orderservice
          image: 946248011760.dkr.ecr.us-east-1.amazonaws.com/orderservice:latest
          workingDir: /app
          command: ["npm"]
          args: ["start", "--silent"]
          env:
            - name: NODE_ENV
              value: "production"
            - name: PORT
              value: "8080"               # Make sure your app respects this
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: orderservice
spec:
  selector:
    app: orderservice
  ports:
    - name: http
      port      port: 8080
      targetPort: 8080

